body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/BG_L.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: #0c0c0c;
}

html::-webkit-scrollbar-thumb{
    background: #0c0c0c;
    border-radius: 5rem;
}

section{
    height: 100vh;
}

nav{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));
}

.main-logo{
    /* width: auto; */
    height: 50px;
    margin: .3rem 0 ;
}

.main-menu{
    position: absolute;
    top: .1px;
}

.btn-main-menu{
    background: transparent;
    box-shadow: none;
    transition: .2s linear;
}

.btn-main-menu:focus{
    transform: rotateZ(90deg);
}

.btn-main-menu:hover{
    background: transparent;
    box-shadow: none;
    transform: rotateZ(90deg);
}

.main-menu ul{
    margin-right: -10rem;
    margin-top: -.35rem;
}

/* Landing Page CSS */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    margin-top: 10rem;
}

.home-img img{
    min-width: 5%;
    max-width: 85%;
    margin-top: 5rem;
    margin-left: 3rem;
    animation: floatImage 4s ease-in-out infinite;
}

.home-img-small img{
    min-width: 5%;
    max-width: 85%;
    margin-top: 5rem;
    margin-left: 3rem;
    animation: floatImage 4s ease-in-out infinite;
}


@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }  
    100%{
        transform: translateY(0);
    }  
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #863ae0;
    font-weight: bolder;
    margin-top: 2rem;
    border-radius: 50px;
    padding: 1rem;
    height: 50px;
}

.main_bg{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* Overview CSS */
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,.1)), url(images/main_bg.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .overview-img img{
    width: 15vw;
    border-radius: 50%;
    margin: 2.5rem;
} */

/* .overview-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .4rem solid var(--second-bg-color);
    border-bottom: .4rem solid var(--second-bg-color);
    border-left: .4rem solid var(--main-color);
    border-right: .4rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
} */

.heading{
    text-align: center;
    font-size: 4.5rem;
}

/* .overview-content{
    padding-left: 10rem;
} */

/* .overview-content h2{
    text-align: left;
    line-height: 1,2;
}

.overview-content h3{
    font-size: 2.6rem;
}

.overview-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    text-justify: inter-word;
} */

.collapsible-body{
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
}

/* Seminar Dates */
.dates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

table{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    border-radius: 10px;
    color: white;
    overflow: hidden;
}
